*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: rgb(159, 74, 32);
    height: 100vh;
}

.inv-area
{
    display: inline-block;
    background-color: rgb(54, 48, 48);
    position: relative;
    width: 95vw;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 3%;
    margin: 0 auto;
}

.user-info
{
    display: flex;
}

.inv
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    max-height: 10%;
}

.inv-img
{
    max-width: 50%;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

.user_img
{
    max-width: 60%;
    margin: 2%;
    border-radius: 12px;
}

.user-name
{
    color: whitesmoke;
}

.user-status
{
    display: grid;
    background-color: rgb(240, 240, 240);
    grid-template-columns: 2fr 1fr;
    grid-gap: 1%;
    padding: 1%;
    max-height: 90%;
    max-width: 95%;
    width: 100%;
}

.caracter input
{
    width: 100%;
    max-width: 95%;
    max-height: 90%;
    height: 50%;
    color: rgb(169, 13, 13);
    padding: 4%;
    margin-right: 3%;
    font-weight: 600;
    letter-spacing: 1.2px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid rgb(120, 120, 120);
    box-shadow: -5px 10px 10px rgba(80, 80, 80, 0.334), 5px -10px 10px rgba(80, 80, 80, 0.334);
}

.inv-status , .inv-itens
{
    background: whitesmoke;
    padding: 1%;
    width: 100%;
    max-width: 50%;
    border: 1px solid rgb(71, 71, 71);
    overflow-x: scroll;
}

.char-status
{
    width: 100%;
    padding: 2%;
    display: grid;
    grid-gap: 10% 1%;
    position: relative;
    grid-template-columns: 3fr 3fr 3fr;
}
@media (max-width: 319px)
{
    .char-status
    {
        grid-template-columns: 2fr 1fr;
        font-size: 50%;
    }
}

/* QUADRO DE HABILIDADES GERAIS DO PERSONAGEM  */

.status
{
    background-color: rgb(202, 39, 39);
    outline: 3px solid rgb(43, 43, 43);    
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #e6e4d3;
    max-height: 18vh;
    max-width: 95%;
    padding: 5%;	
    height: 90%;
    width: 95%;
    margin: 4%;
}

.status h3
{
    font-size: 135%;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.ponts
{
    color: rgb(255, 207, 32);
    font-size: clamp(10%, 100%, 100%);
    padding-bottom: -20%;
}



.status-int, .status-cons
{
    /* transform: translate(50%, 20%);  */
}

tr
{
    text-align: center;
    font-size: clamp(70%, 100%, 200%);
}


/* -------------- ---------- INVENTARIO DO PERSONAGEM ------- ---------------  */

.bag
{
    width: 95%;
    height: 20vh;
    position: relative;
}

.bag-coin
{
    position: relative;
    display: flex;
}

.img-bag_coin
{
    width: 15%;
    max-width: 90px;
    top: 20px;
    border: 5px solid  rgb(180, 230, 178);
    border-radius: 90px;
    position: absolute;
    z-index: 1;
}

.bg-alert
{
    position: relative;
    width: 29%;
    height: 8vh;
    outline: 1px solid rgb(137, 127, 127);
    color: rgb(146, 17, 17);
    background-color: rgb(180, 230, 178);
    left: 10%;
    transform: translateY(60%);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 0;
}

.bag-money
{
    color: rgb(70, 69, 69);
    text-align: center;
    transform: translate(-10%, 95%);
    font-size: clamp(10%, 100%, 100%);
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: -5px 7px 5px rgb(145, 145, 145);
}


/* --------------- -- MEDIA QUERY -- ---------------------- */


@media(max-width: 476px)
{
    .status h3
    {
        font-size: 98%;
    }
}

@media(max-width: 371px)
{
    .status h3
    {
        font-size: 93%;
    }
}

@media(max-width: 356px)
{
    .status h3
    {
        font-size: 91%;
    }

}

@media(max-width: 351px)
{
    .status h3
    {
        font-size: 90%;
    }
}

@media(max-width: 321px)
{
    .status h3
    {
        font-size: 87%;
    }
}

@media(max-width: 307px)
{
    .status h3
    {
        font-size: 87%;
    }
}
